.topbar-panel {
  height: 80px;
  width: 91.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.topbar-panel-right input {
  background-color: rgba(117, 25, 215, 0.1);
  border: none;
  height: 35px;
  width: 250px;
  border-radius: 5px;
}
.topbar-panel-right svg {
  height: 24px;
  width: 30px;
  color: var(--primary-color);
}
.topbar-panel-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-panel-left img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 30px;
}

.panel-bell {
  width: 270px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  position: absolute;
  top: 60px;
  right: 270px;
  display: none;
}
.panel-bell li {
  border-bottom: 1px solid lightgray;
  padding: 10px 5px 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.panel-bell.active {
  display: revert;
}
.notifList {
  background-color: white;
  color: black;
  width: 350px;
}
.no-msg {
  padding: 10px;
}

.notif {
  min-width: 400px;
  height: auto;
  background-color: var(--primary-color);
  color: white;
  position: absolute;
  top: 65px;
  right: 250px;
  border-radius: 10px;
  display: none;
}

.notif1 {
  min-width: 400px;
  height: auto;
  background-color: var(--primary-color);
  color: white;
  position: absolute;
  top: 65px;
  right: 250px;
  border-radius: 10px;
  visibility: visible;
}

.notif div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid white;
}

.notif1 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid white;
}
