.tobpar-admin-sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}
.tobpar-admin-sidebar img {
  width: 35px;
  height: 35px;
}

.admin-sidebar {
  height: 100vh;
}
