th.th-right {
  text-align: right !important;
}
td.th-right {
  text-align: right;
}
.bttn-2 {
  margin-bottom: 20px;
}

th.th-left {
  text-align: left !important;
}

td.th-left {
  text-align: left;
}

.about-order {
  font-size: 18px;
  padding: 20px 0;
}

.about-order span {
  background-color: yellow;
}
.order-detail {
  font-size: 23px;
  font-weight: 800;
}
.order-detail-p {
  padding: 10px 0;
  margin: 10px 0;
}
